* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.navbar {
    background-color: #000000;
    overflow: hidden;
}
body {
    background-image: url("images/p5.jpg");
}
a.general {
    float: left;
    color: #d4d0d0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
a.general:hover {
    text-decoration: underline;
    transition: all 0.5s ease;
    color: #ffffff
}
a.personal {
    float: right;
    color: #dddddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
a.personal:hover {
    text-decoration: underline;
    transition: all 0.5s ease;
    color: #ffffff
}
body {
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}
p {
    color: #dddddd;
    text-shadow: 1px 1px #000000;
}
.header {
    text-align: center;
}
.header .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    border: none;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #dddddd;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 16px 30px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    
  }
  .header .btn:hover {
    background-color: black;
    color: #dddddd;
  }
  .header .content {
    font-size: 5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .AuthForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 200px; 
    left: 50%;
    transform: translateX(-50%);
    width: 400px; /
  }

  .InputField {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .SubmitButton {
    width: 95%;
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
/* General.html setting*/
.Group10 {
    width: 30vw;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 40vh;
    left: 35vw;
  }
.custom {
    width: 100%;
}
.Setting {
    width: 1280px;
    height: 1500px;
    position: relative;
    background: white;
}

.Group10 button {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background-color: #F0EEEE;
    color: #000;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
  }
  
  .Group10 button:hover {
    background-color: #E6E6E6;
  }

  