* {
    font-family: sans-serif;
    margin: 0px;
}

.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    position: fixed;
    width: 100%;
}

.navbar > div {
    margin: 0px 50px;
}

#profile {
    background-color: grey;
    margin: 50px;
    padding: 25px;
    text-align: center;
}
.navbar-button {
    margin: 0px 10px;
    color: rgb(172, 172, 172);
    transition: all 0.5s ease;
}
.navbar-button:hover {
    color: white;
    transition: all 0.5s ease;
}
#stats {
    display: flex;
    margin: auto;
    width: fit-content;
}
#stats > h3 {
    font-weight: normal;
    margin: 10px;
    color: rgb(71, 71, 71);
}
#username-follow {
    display: flex;
    margin: auto;
    width: fit-content;
}
#username-follow > * {
    margin: 0px 10px;
}
#username-follow > h1 {
    font-weight: normal;
    font-size: 25px;
}
#username-follow > button {
    border: none;
    border-radius: 5px;
    font-size: 15px;
    background-color: rgb(203, 203, 203);
    transition: all 0.5s ease;
}
#username-follow > button:hover {
    font-size: 17px;
    padding: 0 5px;
    background-color: rgb(255, 255, 255);
    transition: all 0.5s ease;
}
#description {
    margin: 0px 15%;
}
#pages > div {
    display: flex;
    width: fit-content;
    margin: auto;
}
.page-link {
    margin: 10px;
}
.page-img {
    width: 100%;
    margin: 0;
}
.page-title {
    font-weight: normal;
    font-size: 30px;
    background-color: rgb(98, 98, 98);
    color: rgb(198, 198, 198);
    transition: all 0.5s ease;
}
.page-title:hover {
    color: white;
    transition: all 0.5s ease;
}
hr {
    margin: 10px;
    border: 1px solid rgb(98, 98, 98);
}
#profile-picture {
    border-radius: 50%;
}